{% extends 'base.html' %}
{%block title%}index{%endblock%}
{%block main%}
<main>
    <div><h3>Top Products</h3></div>
<div id="product-container">
    {% for product in products %}
    <a  href="{{ url_for('product_card', product_id=product.product_id) }}">
        <div class="product-card">
            <img src="data:image/jpeg;base64,{{ product.product_image }}" alt="Product Image">
            <h2>{{ product.prod_name }}</h2>
            <p>{{ product.product_id }}</p> 
            <p>Price: Ksh. {{ product.price }}</p>
        </div>
    </a>
    {% endfor %}
</main>
{%endblock%}

