{% extends 'base.html'%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{%block main%}
<main>
    <div class="container">
        <img src="{{url_for('static',filename='images/login_image.png')}}" alt="logo">
        <div class="form-content">
            <h2>Welcome back</h2>
            <form method="post"  onsubmit="return validateForm()" class="form" action="{{url_for('buyer_login')}}">
            <input type="email" id="email" name="email" placeholder="Email Address">
            <input type="password" name="password" required placeholder="Password">
            <p><button id="continue-button"> Continue</button></p>
            </form>
            <h3>Dont have an account?</h3>
            <a href="{{url_for('register')}}">Sign up</a>
            <p><hr>OR</hr></p>
            <p><a href="{{url_for('callback')}}"><button id="google-button"><i class="bi bi-google"></i>Continue with Google</button></a></p>
        </div>
    </div>
</main>
{%endblock%}

<script>
    function validateForm() {
        var emailField = document.getElementById("username");
        var emailError = document.getElementById("emailError");
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailRegex.test(emailField.value)) {
            emailError.textContent = "Please enter a valid email address.";
            return false;
        } else {
            emailError.textContent = "";
            return true;
        }
    }
    
    function togglePassword() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
    
</script>
