{%extends 'base.html'%}
{%block title%}User profile{% endblock %}
{% block main %}
    <div class="container">
        <h1>User Profile</h1>
        <div class="profile-info">
            <img src="{{ user_info.profile_picture }}" alt="Profile Picture">
            <p>Name: {{ user_info.first_name }} {{ user_info.last_name }}</p>
            <p>Email: {{ user_info.email }}</p>
            <p>User ID: {{ user_info.user_id }}</p>
            <!-- Add any other user information you want to display -->
        </div>
        <button id="account-info-btn" onclick="toggleAccountInfo()">Account Info</button>
        <div id="account-info-form" style="display: none;">
            <form action="/update_account" method="post">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" value="{{ user_info.first_name }}" required><br>
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="{{ user_info.last_name }}" required><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ user_info.email }}" required><br>
                <!-- Add other account info fields as needed -->
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{%endblock%}