{%extends 'base.html'%}
{%block title%}Product details{% endblock %}
{% block main %}
<style>
  .alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
</style>
<main>
    <div class="product-container">
      <div class="product-wrapper">
        <img class="product-image" src="data:image/jpeg;base64,{{ product.product_image }}" alt="Product image">
        <div class="product-details">
          <h2 class="product-title">{{ product.prod_name }}</h2>
          <div class="price-section">
            <p>Price: Ksh:{{product.price}}</p>
            <p>Quantity: {{product.available_units}}</p>
          </div>
          <div class="product-actions">
            <!-- <button class="add-to-cart favourite-btn" data-product-id="{{ product.product_id }}">Mark as favourite</button> -->
            <button class="add-to-cart cart-btn" data-product-id="{{ product.product_id }}">Add To Cart</button>
          </div>
          <div class="product-description">
            <h3>Description</h3>
            {{product.description}}
          </div>
          <div class="seller-information">
            <h3>Seller</h3>
            <p>Seller id: {{product.seller_id}}</p>
            <button class="show-phone-number">Phone: {{product.phone}}</button>
          </div>
          <div class="product-location">
            <h3>Location</h3>
            <p>{{product.address}}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.cart-btn').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var productId = button.getAttribute('data-product-id');
                addToCart(productId);
            });
        });

        document.querySelectorAll('.favourite-btn').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var productId = button.getAttribute('data-product-id');
                addToFavorites(productId);
            });
        });
    });


    function addToCart(productId) {
        fetch('/add_to_cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                product_id: productId
            })
        }).then(response => {
            if (response.ok) {

            } else {

            }
        }).catch(error => {
            console.error('Error:', error);

        });
    }


    function addToFavorites(productId) {
        fetch('/add_to_favourites', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                product_id: productId
            })
        }).then(response => {
            if (response.ok) {

            } else {

            }
        }).catch(error => {
            console.error('Error:', error);

        });
    }
</script>
{%endblock%}