<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<title>Register with us</title>

{% block main %}
<div class="register-container">
    <img class="register-img" src="{{url_for('static',filename='images/login_image.png')}}" alt="logo">
    <div class="register-form-content">
        <h2>Create your account</h2>
        <form onsubmit="return validateForm()" class="register-form">
        <input type="email" id="email" name="email" placeholder="Email Address">
        <label for="password">Password</label>
        <div class="password-container">
            <input type="password" id="password" name="password" placeholder="Password">
            <i class="fas fa-eye" id="togglePassword"></i>
        </div>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
        <p><button id="continue-button"><a href="#" id="continue-button">Continue</a></button></p>
        <p>Already a user? <a href="{{url_for('login')}}">LOGIN</a></p>
        <div class="button-container">
          <a href="{{url_for('register_callback')}}">
            <button id="register-google-button" type="button">Sign up with Google</button>
          </a>
        </div>
        </form>
    </div>
</div>
{%endblock%}